<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定接口-->
<mapper namespace="cn.oneao.noteclient.mapper.NoteMapper">
    <delete id="completeDeleteNote" parameterType="Integer">
        delete from note where id = #{noteId} and is_delete = 1
    </delete>
    <delete id="completeDeleteNewCreateNote" parameterType="Integer">
        delete from note where id = #{noteId} and is_create_new = 0 and is_delete = 0
    </delete>
</mapper>