<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定接口-->
<mapper namespace="cn.oneao.noteclient.mapper.NoteMapper">
    <update id="updateNoteRecoveryOne">
        update note set is_delete = 0, update_time = NOW() where id = #{noteId}
    </update>
<!--    彻底删除-->
    <delete id="completeDeleteNote" parameterType="Integer">
        delete from note where id = #{noteId} and is_delete = 1
    </delete>
<!--    删除新创建的笔记-->
    <delete id="completeDeleteNewCreateNote" parameterType="Integer">
        delete from note where id = #{noteId} and is_new_build = 0 and is_delete = 0
    </delete>
<!--    批量删除-->
    <delete id="completeDeleteNotes" parameterType="Integer">
        delete from note where id in
        <foreach collection="noteIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
<!--    批量恢复-->
    <update id="recoverMany" parameterType="Integer">
        update note set is_delete = 0,update_time = NOW() where id in
        <foreach collection="noteIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
</mapper>